header{ 
    text-align: center;
    border-style :outset ;
    border-color: #422B21; 
    margin: 50px ;
    padding: 50px;
    background-color:#C27C61;
    border-radius: 15px;
    
}
#logo{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin:30px;
    margin-bottom: -20px;
    margin-right: 50px;
    margin-top: -20px;
}
a{
    background-color:#C27C61; 
    font-family: 'Times New Roman', Times, serif; 
    font-size:8pc ;
    color: #251e1a ;
    background-color:#C27C61;
    text-shadow: 5px 0px 14px rgba(0, 0, 0, 1); 
}
*{ 
    background-color: #CCAFA3;
    box-sizing: border-box;

      }
.nav{
    
    background-color:#C27C61;
    font-size: 2pc;
}

#nav{
    background-color:#C27C61;
    list-style-type: none;
   
}

h1{
    background-color:#C27C61;
}
li{
    background-color:#C27C61;   
   display: inline;
   padding: 15px;
}

footer{

    font-family: 'Times New Roman', Times, serif;
    border-style :outset ;
    border-color: #CCAFA3; 
    margin-top: 300px  ;
    margin-right: 50px;   
    margin-left: 50px; 
    text-align: center; 
    font-size:2pc ;
    color:#422B21;
    background-color:#C27C61;
}
#last{
    background-color:#C27C61;  
}
 .names{      
    font-size: 3pc;   
    font-style: oblique;  
    font-family: 'Times New Roman', Times, serif;   
    border-style :outset ;    
    border-color: #CCAFA3;  
    margin: 50px ;   
    padding: 50px; 
    color:#422B21;  
    background-color:#C27C61; 
    display: block;
}
img{
    width: 300px;

}